
@import './base/reset';
@import './base/page';
@import './base/container';
@import './base/vars';
@import './base/btn';
@import './blocks/sidebar';
@import './blocks/profile';
@import './blocks/social';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/subnav';
@import './blocks/search';
@import './blocks/main';
@import './blocks/stories';
@import './blocks/add-post';

html{
    font-size: 62.5%;
}

body {
    background-color: $secondary;
    font-size: 1.4rem;
    font-family: 'system';
    color: $white;
    line-height: 1.5;
}
