
@import './base/reset';
@import './base/container';
@import './base/vars';
@import './base/btn';
@import './base/embed';
@import './base/page';
@import './blocks/sidebar';
@import './blocks/profile';
@import './blocks/social';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/subnav';
@import './blocks/search';
@import './blocks/main';
@import './blocks/stories';
@import './blocks/add-post';
@import './blocks/post';
@import './blocks/pagination';
@import './blocks/related';
@import './blocks/comments';
@import './blocks/form';
@import './blocks/works';
@import './blocks/tags';


html{
    font-size: 62.5%;
}

body {
    background-color: $secondary;
    font-size: 1.4rem;
    font-family: 'system';
    color: $white;
    line-height: 1.5;
}

.visually-hidden {
    /* Contain text within 1px box */
   height: 1px;
   overflow: hidden;
   width: 1px;

   /* Keep the layout */
   position: absolute;

   /* Remove any visible trace (e.g. background color) */
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%); /* browsers in the future */

   /* Prevent the screen reader to skip spaces between words */
   white-space: nowrap;
}
